//custom-contact-form
.custom-contact-form {
	padding: 65px 30px 65px 100px;
	.cion {
		width: 36px;
		height: 36px;
		i {
			color: $white;
		}
	}
	.box {
		max-width: 624px;
	}
	@include breakpoint(max-xxl) {
		padding: 60px 24px;
	}
	@include breakpoint(max-xxl) {
		padding: 60px 24px;
		.box {
			max-width: 100%;
		}
	}
}
.form-grp {
	input,
	textarea {
		border-radius: 10px;
		border: 1px solid rgba(3, 23, 64, 0.15);
		padding: 12px 27px;
		color: $pra;
		font-size: 16px;
		width: 100%;
		background: $bg-color-2;
	}
	::placeholder {
		color: $pra;
	}
}
//custom-contact-form

//Not Use bottom Code

//Contact
.contact-forms {
	border-radius: 20px;
	background: #efefef;
	box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
	padding: 40px 40px;
	.nice-select,
	input,
	textarea {
		width: 100%;
		border-radius: 20px;
		border: 2px solid #ddd;
		padding: 10px 20px;
		outline: none;
		color: $pra;
		background: transparent;
	}
	::placeholder {
		color: $pra;
	}
	@include breakpoint(max-md) {
		padding: 30px 20px;
	}
}

.contact-info-area {
	.contact-info {
		border-radius: 20px;
		background: $white;
		box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);
		padding: 30px 36px 40px;
		@include breakpoint(max-xxl) {
			padding: 22px 16px 30px;
		}
	}
}
.visa-right-bar {
	border-radius: 20px;
	padding: 28px;
	border: 1px solid #e3e3e3;
	.titles {
		background: $p1-clr;
		border-radius: 100px;
		padding: 19px 14px;
		text-align: center;
	}
	li {
		a {
			background: $n100-clr;
			border-radius: 100px;
			padding: 14px 28px;
			transition: all 0.4s;
			&:hover {
				background: $p1-clr;
				i {
					background: $white;
				}
			}
			i {
				transition: all 0.4s;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				color: $black;
				background: $p1-clr;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
	&.country-detais-right {
		padding: 38px;
		li {
			form {
				padding: 4px 20px;
				border-radius: 100px;
				background: rgb(245, 224, 250, 0.9);
				input {
					width: 100%;
					padding: 12px 10px;
					background: transparent;
					border: unset;
					outline: none;
					font-size: 14px;
					color: $black;
				}
				::placeholder {
					font-size: 14px;
					color: $black;
				}
				i {
					color: $p3-clr;
					font-size: 22px;
				}
			}
			a {
				border: 1px solid #e3e3e3;
				background: $white;
				i {
					background: $p3-clr;
				}
				&:hover {
					i {
						background: $white;
					}
					background: $p3-clr;
				}
			}
		}

		@include breakpoint(max-xxl) {
			padding: 24px 18px;
		}
	}
}
.plan-trip {
	padding: 38px;
	border: 1px solid #e3e3e3;
	border-radius: 20px;
	.plan-information {
		li {
			a {
				.icons {
					width: 56px;
					height: 56px;
					border-radius: 50%;
					background: #f5e0fa;
					transition: all 0.5s;
					i {
						font-size: 20px;
						color: $p3-clr;
						transition: all 0.5s;
					}
				}
				&:hover {
					.icons {
						background: $p3-clr;
						i {
							color: $white;
						}
					}
				}
			}
		}
	}
	@include breakpoint(max-xxl) {
		padding: 24px 18px;
		.plan-information {
			li {
				a {
					.icons {
						width: 46px;
						height: 46px;
						i {
							font-size: 16px;
						}
					}
				}
			}
		}
	}
}
.help-boxes {
	padding: 40px 16px;
	border-radius: 20px;
	background: $p1-clr;
	.call-icon {
		width: 90px;
		height: 90px;
		background: rgb(30, 21, 21, 15%);
		margin: 0 auto 28px;
		border-radius: 50%;
		i {
			font-size: 30px;
			color: $black;
		}
	}
}
.country-text-box {
	padding: 28px 30px 30px;
	border-radius: 20px;
	background: #f5e0fa;
	@include breakpoint(max-xl) {
		padding: 24px 19px 26px;
	}
}
//Contact

//Adjusting Map
.adujsting-map-section {
	.ticket-booking-content {
		background: $n100-clr;
		textarea {
			background: $white !important;
		}
		.nice-select {
			background: $white !important;
		}
		@include breakpoint(max-lg) {
			padding: 24px 20px;
			h2 {
				font-size: 32px;
			}
		}
		@include breakpoint(max-md) {
			padding: 24px 20px;
			h2 {
				font-size: 24px;
			}
		}
	}
}
//Adjusting Map

//Map area
.map-area {
	iframe {
		width: 100%;
		height: 510px;
		border-radius: 20px;
	}
	@include breakpoint(max-xxl) {
		iframe {
			height: 470px;
		}
	}
	@include breakpoint(max-md) {
		iframe {
			height: 370px;
		}
	}
	@include breakpoint(max-sm) {
		iframe {
			height: 300px;
		}
	}
}
//Map area
