//global access
.access-item {
	background: $white;
	padding: 45px 16px;
	gap: 48px;
	transition: all 0.5s;
	@include breakpoint(max-xxl){
		padding: 35px 15px;
	}
	&:hover{
		h4,span{
			color: $white;
		}
		background: $p1-clr;
		.icon-img{
			img{
				filter: brightness(25);
			}
		}
	}
	@media screen and (max-width: 991px) {
		gap: 35px;
	}
}
//global access


//Consulting Section
.consulting-section{
	background: linear-gradient(90deg, #5135FF 0%, #FF5455 100%);
}
.customer-review{
	.plus{
		width: 60px;
		height: 60px;
		min-width: 60px;
	}
	.review-img{
		&:not(:first-child){
			margin-left: -19px;
		}
	}
}
//Consulting Section