//Adventure Section
.adventure-access-item {
	transition: all 0.5s;
	border-radius: 20px !important;
	.flat {
		width: 60px;
		height: 60px;
		min-width: 60px;
		background: $white;
		position: absolute;
		top: 30px;
		left: 30px;
		border-radius: 50%;
	}
}
//Adventure Section

//passport-content-inner
.passport-content-wrap {
	position: relative;
	z-index: 1;
	.info-ele {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;
	}
}
.passport-content-inner {
	.passport-content-item {
		box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);
		padding: 30px;
		transition: all 0.5s;
		&:hover {
			box-shadow: rgba(100, 100, 111, 0.048) 0px 7px 29px 0px;
		}
	}
	&.secound {
		margin-top: 150px;
	}
	@include breakpoint(max-lg) {
		.passport-content-item {
			padding: 20px;
			&:hover {
				box-shadow: rgba(100, 100, 111, 0.048) 0px 7px 29px 0px;
			}
		}
		&.secound {
			margin-top: 0px;
		}
	}
}
//passport-content-inner
